body {
	padding-top: 30px;
}
.main-list {
	padding-left: 0px;
}
.main-list li {	
	list-style-position: inside;
}
.main-list li:not(.ui-state-highlight) {
	list-style-type: none;
}
.main-list li.ui-state-highlight {
	visibility: hidden;
}
.main-list label {
	min-width: 100px;
}

span.item {
	min-width: 200px;
	display: inline-block;
}
.row {
	padding-bottom: 10px;
	margin-right: 0;
}
input[type=number] {
	width: 55px;
	text-align: center
}
.sortable-handle {
	cursor: move;
}
@media (max-width: 767px) {
	.row {
		margin-right: 0;
		padding-left: 20px
	}
	.row .row {
		padding-left: 0;
	}
	.main-list {
		font-size: 1.5em
	}
	.main-list label {
		min-width: 150px;
	}
}

@media (min-width: 768px) {
}


